.venv
geckodriver.log
Untitled.ipynb
.ipynb_checkpoints/
*/.ipynb_checkpoints/
__pycache__/
*/__pycache__/
archive/
*/archive/
data/
.Rproj.user
.Rhistory
.RData
.Ruserdata
espnAPInotes.txt
scripts/scratch/
*/scratch/
scratch/
.env
*.pyc
