[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
pyodbc = "*"
beautifulsoup4 = "*"
jupyterlab = "*"
mysql = "*"
sqlalchemy = "*"
selenium = "*"
pymysql = "*"
openpyxl = "*"
lxml = "*"
cryptography = "*"
ipykernel = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
